.con {
    width: 450px;
    margin: 0 auto;
}
.screen {
    max-width: 400px;
    min-width: 200px;
    height: 100px;
    font-size: 48px;
    background-color: #EAEDED;
    color: #2C3E50;
}
.b {
    height: 75px;
    width: 97px;
    font-size: 48px ;
    margin: 1px;
    background-color: #2C3E50;
    color: white ;
}
.b:hover{
    background-color: #808B96;
}
.e {
    background-color: #2874A6;
}
.e:hover{
    background-color: #3498DB;
}
.heading {
    text-align: center;
    color: #2C3E50;
}